<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Paletto</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>© 1998-2018 Dieter Stein</p>
            <p>Game pieces in 6 colors are placed on the gameboard, always well mixed and never with two of the same color next to one another. These pieces are either marbles or wooden cylinders - your choice.</p>
            <p>Paletto is a varicolored logic game with only a few rules and therefore easy to learn.</p>

            <p>Who will have all playing pieces of one color in the end or take the last piece from the board? This is the object of the game.</p>

            <p>On each turn, you may take pieces of the same color off the board - but only if they are freely accessible from any two sides and all other playing pieces stay connected horizontally or vertically.</p>

            <p>In the beginning of the game, this applies only to the corner pieces, but after just a few turns, there are more and more possibilities. And when, at the latest, one of the players has 5 of the 6 pieces of one color, tactics comes into play.</p>
              <p>So the final third of the game becomes the most suspenseful: How can I prompt the other player(s) to take few pieces? Or to take a piece of a particular color?</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'RulesPaletto',
  data () {
    return {
      gipfDiagram1: require('../../../assets/gipf/rules1_board.gif')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
