<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Dakapo</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>© 2012 Stephan Miksch – Rulebook © 2013 Néstor Romeral Andrés and Stephan Miksch </p>
            <h4>Introduction</h4>
            <p>Dakapo (pronounced ducupo, the word is a German
              adaption from the Latin “da capo”) is an abstract
              board game for two players. The stones in four
              colours are placed in turn by both players trying to
              form a square. Often the game ends suddenly for the
              losing player who can request a rematch with the
              word “dakapo”. </p>
            <h4>Contents</h4>
            <p>64 stones, 16 each in 4 colours (red, yellow, green
              and blue), 1 game board 8 spaces wide and 8 spaces high.</p>
            <h4>Start of the game</h4>
            <p>Place 4 stones - one in each colour - on the four
              spaces in the middle of the board (see picture). </p>
            <img width="300px" :src="diagram1"/>
            <h4>Game play</h4>
            <p>Players alternately take turns. The player whose turn
              it is puts a stone on an unoccupied space. The
              following placement rules apply: </p>
            <ul>
              <li>It must be orthogonally adjacent to another
                previously placed stone. (Orthogonally adjacent
                spaces are those that are directly above and
                below, left or right—not diagonally!)
              </li>
              <li>It must be a different colour than all
                orthogonally adjacent stones.
              </li>
              <li>It must be a different colour than the stone
                placed by the opponent in the previous turn. (Tip:
                as a reminder, it is helpful for a player to place a
                matching stone in front of him until his next turn.
                For example, if a player places a red stone on
                the board, he also places a red stone in front of
                him so that his opponent will remember that it is
                forbidden to play a red stone this turn.)
              </li>
            </ul>
            <h4>End of game</h4>
            <p>When a player places a stone that forms the fourth
              same-coloured corner of a square, he wins the game.
              If this is not noticed until later in the game, however,
              it no longer counts.<br>
              The game also ends if a player cannot legally place a
              stone. That player loses the game.<br>
              If the neither of these conditions are met before the
              last stone is placed and the board is filled up, the
              game ends in a tie. </p>
            <h4>The corners of the square</h4>
            <p>A square has four equal sides and four equal angles.
              The sides of the square formed by the 4 stones of the
              same colour do not need to be parallel with the
              edges of the game board. In other words, the square
              can be angled!</p>
            <h4>Placement examples</h4>
            <p>Tom is not allowed to put a
              red or a blue stone on space
              B (rule 2: must be a different
              adjacent colour). He is also
              not allowed to put any stone
              on space C yet (rule 1: no
              adjacent stones). Tom
              places a green stone on
              space A. </p>
            <img width="200px" :src="diagram2"/>
            <p>Susan is not allowed to put
              a red or a blue stone on
              space B either (rule 2). At
              the moment she can’t place
              a green stone anywhere
              (rule 3: different colour than
              previously placed stone).
              She puts a yellow stone on
              space B. </p>
            <img width="200px" :src="diagram3"/>
            <p>Now it’s Toms turn again.
              He can’t place a yellow
              stone on space C (rules 2
              und 3), but he can choose a
              green stone and puts it on
              space C. </p>
            <img width="200px" :src="diagram4"/>
            <p>The stones on the spaces A
              and C, together with both of
              the other green stones, now
              mark the corners of a
              square. Tom wins the game. </p>
            <img width="200px" :src="diagram5"/>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      diagram1: require('../../../assets/dakapo/dakapo-diagram1.gif'),
      diagram2: require('../../../assets/dakapo/dakapo-diagram2.gif'),
      diagram3: require('../../../assets/dakapo/dakapo-diagram3.gif'),
      diagram4: require('../../../assets/dakapo/dakapo-diagram4.gif'),
      diagram5: require('../../../assets/dakapo/dakapo-diagram5.gif')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
