<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Abande by Dieter Stein</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>Rule book © 2009 Néstor Romeral Andrés</p>
            <p>Rules © 2005 Dieter Stein</p>
            <br>
            <h4>Introduction</h4>
            <p>Abande is an abstract board game. Two
              players in turn enter new pieces on the board
              or move pieces already placed to capture
              opponent pieces and end up with the highest
              score. </p>
            <h4>Equipment</h4>
            <p>
            <ul>
              <li>An hexagonal board providing 37
                spaces
              </li>
              <li>2 × 18 pieces, in white and black color
                for each of the two players.
              </li>
            </ul>
            </p>
            <h4>Board</h4>
            <p>Abande is played on a hexagonal board
              providing 37 spaces.</p>
            <img width="300px" :src="diagram1"/>
            <p>Pieces are placed on the intersections of the lines.<br>
              Please note the special coordinate system of the
              hexagonal board.</p>
            <h4>Pieces</h4>
            <p>Each player is provided with 18 stackable
              pieces in white or black respectively, which are
              placed in front of each player. These are called
              the “pieces in hand”.
              <br><br>
              Initially the board is empty. </p>
            <h4>Object</h4>
            <p>Players attempt to get the highest score.
              Each piece or stack on board under a player’s
              control is added to the final score. Regarding
              stacks, the topmost piece determines its
              owner.</p>
            <h4>Sequence of play</h4>
            <p>Players move in turn. The player playing
              the black pieces starts the game by entering a
              piece somewhere on the board. This is called
              the “initiative” in contrast to a regular move,
              which can be:
            <ul>
              <li><b>enter</b> a new piece on the board, or</li>
              <li><b>move</b> a piece (or a complete stack)
                already on the board on top of an adjacent
                opponent piece (or stack), or
              </li>
              <li><b>pass</b> the turn, which is possible only if
                you have no more pieces in hand.
              </li>
            </ul>
            </p>
            <p>If both players pass their turn in sequence,
              the game is ended. </p>
            <h5>The "band"</h5>
            <p>In any stage of play all pieces on the board
              must be connected. There must be one single
              “band” (hence the name Abande). Please note
              that this band can include patterns like forks or
              networks. </p>
            <h5>Entering a new piece</h5>
            <p>As long as you have pieces in your hand
              and you do not want to or cannot <b>move</b> a
              piece already on the board you must <b>enter</b> a
              new piece on an empty space connected to
              the band. </p>
            <img width="300px" :src="diagram2"/>
            <p>New pieces must be placed adjacent to other pieces (or
              stacks) already on the board.</p>
            <h5>Moving a piece</h5>
            <p>lso move a piece (or a complete stack under
              your control) already on the board:
            <ul>
              <li>Pieces or stacks move one space into
                any of the 6 directions on the hexagonal board.
              </li>
              <li>Pieces or stacks always capture by
                moving on top of an opponent piece or stack.
                They cannot move to an empty space or on
                top of a friendly piece or stack.
              </li>
              <li>Stacks cannot grow larger than 3
                pieces high.
              </li>
              <li>Stacks cannot be split.</li>
              <li>Moving is allowed only after Black has
                entered the second piece, i.e. Black cannot
                directly capture White's reply to the initiative.
              </li>
            </ul>

            <img width="300px" :src="diagram3"/>
            <p>Possible captures for White: e2-d3, e2-e3, e4-d4, e4-e3,
              f2-e3. Possible captures for Black in the same position: b3-
              c4, d3-e2, e3-e2, e3-e4, e3-f2 (note: the complete stack on
              e3 is moved).
              The marked pieces on c4 and d4 are fixed and cannot be
              moved.
            </p>
            <h5>Passing a turn</h5>
            <p>If a player has no more pieces in hand, he
              can pass his turn, i.e. he does not need to
              make a move. However, he does not lose the
              right to move again in a subsequent turn. </p>
            <h4>End of game</h4>
            <p>If both players pass their turn in sequence,
              the game is ended. </p>
            <h5>Sleeping pieces</h5>
            <p>Before players sum up their scores, pieces
              or stacks, which have no connection to an
              opponent piece, are removed from the board
              (note that pieces within mixed stacks are not
              connected in this sense).</p>
            <p>Also note that by removing sleeping
              pieces, it is possible that the band is split. </p>
            <img width="300px" :src="diagram4"/>
            <p>The marked pieces and stacks are “sleeping” and will be
              removed.</p>
            <h5>Score</h5>
            <p>After that, each remaining piece or stack is
              counted:
            <ul>
              <li>Add 1 point for every single piece of
                your color.
              </li>
              <li>Add 2 points for every double stack
                you control.
              </li>
              <li>Add 3 points for every triple stack you
                control.
              </li>
            </ul>
            The player with the higher score wins the
            game of Abande. If both players get the same
            score the game is drawn.<br><br>
            In the above example Black wins the game by
            12-15 points. </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      diagram1: require('../../../assets/abande/abande-diagram1.gif'),
      diagram2: require('../../../assets/abande/abande-diagram2.gif'),
      diagram3: require('../../../assets/abande/abande-diagram3.gif'),
      diagram4: require('../../../assets/abande/abande-diagram4.gif')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  h5 {
    font-weight: bold;
    font-size: small;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
