<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Lyngk by Kris Burm</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>LYNGK ® & © Don & Co NV. Content © Kris Burm. All rights</p>
            <br>
            <h4>Aim of the game</h4>
            <p>LYNGK is played with pieces in 6 different colors,
              each representing a game of the GIPF project.
              Actually, there are only 5 active colors, for the
              6<sup>th</sup> color (<b>white mottled, here called “white”</b>)
              is not a color in itself; it can be used as any of
              the 5 other colors. In the beginning, the pieces
              of all 5 other colors are neutral, as such they
              belong to both players. In the course of the game,
              each player must claim 2 colors—implying that,
              from that point on, the opponent may no longer
              play with these colors. The goal is to build
              stacks consisting of 5 pieces of the 5 different
              colors. Victory belongs to the player with the most
              stacks of 5 pieces at the end of the game.</p>
            <h4>Preparation</h4>
            <ol>
              <li>Place 8 pieces of each color and the 3 white pieces
                randomly on the board, so that each spot
                (i.e. where the lines intersect) is occupied.
              </li>
              <li>Line up the remaining pieces (1 ivory, 1 blue, 1 red,
                1 black and 1 green) next to the board. (See Diagram 1.)
              </li>
              <li>Draw lots to determine the starting player.</li>
            </ol>
            <img width="300px" :src="diagram1"/>
            <p>Diagram 1: random start position with 5 pieces next to the
              board, representing the 5 neutral colors at the beginning of a
              game. A random position can never be advantageous for one
              of the players since neither of them knows yet which colors they
              will claim.</p>
            <h4>Joker pieces, Neutral pieces and Claimed pieces</h4>
            <ol>
              <li>The 3 white pieces must be considered as jokers,
                i.e. they have the potential to represent any of the
                5 active colors. These joker pieces are passive. They
                cannot be used to play with; they may only be
                moved as part of a stack.
              </li>
              <li>At the start of the game, all the pieces on the board
                are neutral. They belong to neither of the players,
                meaning that, apart from the passive jokers, both
                players may use them to make a move.
              </li>
              <li>In the course of the game, each player may claim
                2 colors. As soon as a color is claimed by a player,
                the pieces of that color are no longer neutral. From
                that point forward, only the player who claimed
                that color may play with these pieces. <b>Note: the 5 pieces next to the board only serve to
                  claim colors. They may not be brought into the
                  game.</b></li>
              <li>Players may claim a color at any stage of the game
                but only when it is their turn and before making
                their move. To claim a color, the player must take
                the piece of the desired color next to the board and
                put it in front of them, on their side of the board.
                (See Diagram 2.)
              </li>
              <img width="300px" :src="diagram2"/>
              <p>Diagram 2: player A claims red. He makes the claim before
                making his move, for as soon as he moves a piece or stack on the
                board, it is the opponent’s turn; the opponent may then claim a
                color if she wishes to do so (before making her actual move)</p>
              <li>A player may claim only one color at a time. Thus,
                it is not allowed to claim 2 colors during a single
                turn.
              </li>
              <li>When both players have claimed their 2 colors, the
                last (5<sup>th</sup>) color remains neutral. Both players may
                go on playing with pieces of that neutral color for
                the remainder of the game.
              </li>
            </ol>
            <h4>A move</h4>
            <ol>
              <li>Players take turns. Each turn, a player must move
                one piece or one stack of pieces. To make a move
                they may choose any piece or stack of a neutral color
                or of one of their claimed colors.
              </li>
              <li>When moving a stack, it must always be moved as a
                whole. The piece on top of a stack determines whether
                the stack is neutral or belongs to one of the players.
              </li>
              <li>A move, be it with a neutral or a claimed color, must
                always end in an occupied space, thus on top of
                another piece or stack. A move can end on top of an
                adjacent piece or stack and on top of a piece or stack
                that can be reached in a straight line, crossing only
                empty intersections. It is not allowed to jump over
                pieces or stacks.
              </li>
              <li>There is an extra option for making a move, but
                this is explained below in a separate section, under
                <b>F. The LYNGK-rule.</b>
              </li>
              <li>A stack can consist at most of 5 pieces. The key
                rule is that a stack can only be built with pieces of
                different colors: 2 (or more) pieces of the same color
                can never be part of the same stack. However, 2 or
                even all 3 white pieces may be part of the same stack.
                As mentioned above, a white piece is a joker and not
                a color in itself. It counts as a piece of any color that
                is not in the stack. (See Diagram 3.)
              </li>

              <img width="300px" :src="diagram3"/>
              <p>Diagram 3: player A makes a stack of 4 pieces, consisting
                of 1 red piece, 1 ivory piece and 2 joker pieces. He may use
                the joker pieces as any combination of 2 colors that are not in
                the stack: green/blue, blue/black or black/green.</p>

              <li><b>A single neutral piece</b> (i.e. of a color that has not
                been claimed yet) can only move onto another <b>single</b>
                piece of any other color. In other words, it can
                jump onto a joker piece, onto a piece of another
                neutral color or onto a piece of a color that has
                been claimed by either player. A single neutral
                piece cannot jump onto a stack. (See Diagram 4.)
              </li>

              <img width="300px" :src="diagram4"/>
              <p>Diagram 4: the red pieces and stacks belong to player A.
                The other 4 colors are still neutral. When it is player B’s
                turn, she can move any neutral piece or any stack with
                a neutral piece on top of it. As an example, the arrows
                indicate the moves she can make with the blue piece. The
                piece cannot be moved onto the black stack for two reasons:
                (1) the stack already contains a blue piece and (2) the stack
                is higher than the neutral piece.</p>

              <li><b>A stack with a neutral piece on top of it</b> may jump
                onto any single piece or onto a stack of at most the
                same height. It cannot jump onto a higher stack.
                For instance, a stack of 2 pieces with a neutral piece
                on top of it can jump onto a single piece or another
                stack of 2 pieces, but not onto a stack of 3 pieces.
              </li>
              <li><b>A single piece of a claimed color or a stack with
                a claimed color on top of it</b> may be moved onto
                any other piece or stack. (That is, as long as the
                resulting stack is no higher than 5 pieces and all the
                pieces are of different colors).
              </li>
              <li>When a player completes a stack of 5 pieces and the
                top piece is in a color they have claimed, they must
                remove the stack and put it on their side of the board,
                at all times visible for their opponent. A removed
                stack is worth one point at the end of the game.
              </li>
              <li>When a player completes a stack of 5 pieces with a
                neutral color on top, then the stack remains on the
                board as an obstacle. This stack does not count as a
                point for any of the players.
              </li>
              <li>It is not allowed to pass, unless a player has no
                more possible moves.
              </li>
              <li>If a player cannot make a move anymore, the
                other player must continue to play until that
                player, too, has no possible move. In the event that
                a player who has passed gets the opportunity to
                make a move again, the player must do so.
              </li>
            </ol>
            <h4>The Lyngk-rule</h4>
            <p>In the text that follows, single pieces and stacks are
              simply called “pieces,” since the LYNGK-rule is the
              same for both. </p>
            <ol>
              <li>The LYNGK-rule may only be applied when
                playing with a claimed color.
              </li>
              <li>The rule states that pieces of one and the same
                claimed color are connected, but only under the
                condition that they can be moved towards each
                other with a regular move. A player can use pieces
                of that claimed color to make a double move, or
                even a triple or quadruple move, by using them as
                links towards other pieces on the board. As such,
                pieces of each claimed color can be seen as a network
                of multiple moves—to which the opponent has no
                access.
              </li>
              <li>Apply the rule as follows: you may move a piece of
                a claimed color towards another piece of that color,
                but it may not be put on top of it; instead you use
                the reached piece as a LYNGK-point, meaning that
                you must make a second move from there. Thus,
                from the reached piece you must continue your
                move towards an adjacent piece or towards a piece
                that can be reached in a straight line. The piece you
                make your move with must be placed on top of this
                piece if the color(s) allow it. However, if this second
                piece is yet again of the same claimed color, you
                must make a third move from that point, and so
                on, until the moved piece reaches a piece on which
                it can land. (See diagram 5.)
              </li>

              <img width="300px" :src="diagram5"/>
              <p>Diagram 5: player A is one stack of 5 pieces ahead, but
                player B has a possibility to make the game even again.
                First she claims the black color (1), next she makes a triple
                move (2) and completes a stack of 5 pieces. To make such
                a multiple move, all the LYNGK-points must be of the
                same claimed color. (Note that both players have claimed
                only one color so far.)</p>

              <li>It is not allowed to use a joker piece as a
                LYNGK-point.
              </li>
              <li>It is not allowed to use a LYNGK-point more
                than once within a single turn.
              </li>
            </ol>
            <br>
            <p><b>Note: when using a stack as a LYNGK-point,
              only the color of the top piece matters. The
              other colors in the stack are not relevant.</b></p>
            <h4>End of game</h4>
            <ol>
              <li>The game ends when the last possible move has
                been made. The winner is the player with the most
                stacks of 5 differently colored pieces.
              </li>
              <li>In case of a tie, the winner is the player with the
                most stacks of 4 pieces on the board. If that still
                does not determine who wins, then count the
                stacks of 3 pieces, and so on.
              </li>
              <li>Eventually, if even the number of single pieces is
                equal, the game ends in a tie.
              </li>
            </ol>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      diagram1: require('../../../assets/lyngk/lyngk-diagram1.gif'),
      diagram2: require('../../../assets/lyngk/lyngk-diagram2.gif'),
      diagram3: require('../../../assets/lyngk/lyngk-diagram3.gif'),
      diagram4: require('../../../assets/lyngk/lyngk-diagram4.gif'),
      diagram5: require('../../../assets/lyngk/lyngk-diagram5.gif')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
