<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>{{ $t('CREATEGAME.CREATEGAME') }}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form>
                <v-text-field
                    v-model="name"
                    id="name"
                    required
                    prepend-icon="videogame_asset"
                    name="name"
                    :label="$t('CREATEGAME.NAME')"
                    type="text"/>
                <v-radio-group
                    :label="$t('CREATEGAME.COLOR') + '*'"
                    v-model="color"
                    row>
                  <v-radio
                      v-for="c in colors"
                      :key="c.key"
                      :label="c.value"
                      :value="c.key"/>
                </v-radio-group>
                <v-radio-group
                    :label="$t('CREATEGAME.MODE') + '*'"
                    v-model="mode"
                    row>
                  <v-radio
                      v-for="m in modes"
                      :key="m.key"
                      :label="m.value"
                      :value="m.key"/>
                </v-radio-group>
                <v-radio-group
                    :label="$t('CREATEGAME.TYPE') + '*'"
                    v-model="type"
                    row>
                  <v-radio
                      v-for="t in types"
                      :key="t.key"
                      :label="t.value"
                      :value="t.key"/>
                </v-radio-group>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="createGame" value="createGame" color="primary">{{ $t('CREATEGAME.CREATE') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import { APIENDPOINT, getHeader } from '../../app.config'
import axios from 'axios'
import OpenXum from 'openxum-browser/index.mjs'

export default {
  name: 'CreateGame',
  data () {
    return {
      gameType: '',
      name: '',
      color: '',
      colors: [],
      mode: '',
      modes: [],
      type: '',
      types: []
    }
  },
  methods: {
    createGame: function () {
      if (this.name !== '') {
        if (this.type === 'ai' || this.type === 'remote_ai' || this.type === 'gui') {
          this.$router.push('/games/play/' + this.gameType + '/' + this.type + '/' + this.color + '/' + this.mode + '/' + '-1' + '/' + '-1')
        } else if (this.type === 'offline') {
          let app = this;

          (new Promise(function (resolve, reject) {
            // const status = JSON.parse(window.localStorage.getItem('openXumUser'))
            const newGame = {
              name: app.name,
              gameType: app.gameType.toLowerCase(),
              color: app.color,
              mode: app.mode
            }
            const url = APIENDPOINT + '/api/game/create'
            const config = {'headers': getHeader()}

            axios.post(url, newGame, config)
              .then(function (res) {
                resolve(res)
              })
              .catch(function (err) {
                reject(err)
              })
          })).then(function (res) {
            if (res.status === 200) {
              app.$router.push('/mygames')
            }
          }).catch(function (err) {
            console.log(err)
          })
        } else { // online
        }
      }
    }
  },
  mounted () {
    this.gameType = this.$route.params.gameType.charAt(0).toUpperCase() + this.$route.params.gameType.slice(1)
    this.colors = OpenXum[this.gameType].Settings.colors.list
    this.color = OpenXum[this.gameType].Settings.colors.init
    this.modes = OpenXum[this.gameType].Settings.modes.list
    this.mode = OpenXum[this.gameType].Settings.modes.init
    this.types = OpenXum[this.gameType].Settings.types.list
    this.type = OpenXum[this.gameType].Settings.types.init
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style/>
