<template>
  <v-container fluid>
    <v-layout row text-xs-center>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1 offset-xs0>
        <v-btn color="success" light id="status">{{ $t('GAME.READY') }}</v-btn>
        <v-btn color="warning" light id="replay" v-on:click.native="replay()">{{ $t('GAME.REPLAY') }}</v-btn>
        <v-btn color="error" light id="list" v-on:click.native="display_move_list()">{{ $t('GAME.MOVELIST') }}</v-btn>
        <div id="boardDiv">
          <canvas id="board"/>
        </div>
      </v-flex>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="move_list_dialog" persistent>
        <v-card>
          <v-card-title class="headline">{{ $t('GAME.MOVELIST') }}</v-card-title>
          <v-card-text id="moveListBody">
            <ol>
              <li v-bind:key="move in moves">{{move}}</li>
            </ol>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="green--text darken-1" flat="flat" @click.native="move_list_dialog = false">OK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="winner_dialog" persistent>
        <v-card>
          <v-card-title class="headline">{{ $t('GAME.WINNER') }}</v-card-title>
          <v-card-text id="winnerBodyText">The winner is {{winner}}!</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="green--text darken-1" flat="flat" @click.native="winner_dialog = false">OK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
import OpenXum from 'openxum-browser/index.mjs'
import { APIENDPOINT, getHeader } from '../../app.config'
import axios from 'axios'

export default {
  data () {
    return {
      move_list_dialog: false,
      winner_dialog: false,
      moves: [],
      winner: '',
      page: null
    }
  },
  mounted () {
    this.launch_game()
  },
  methods: {
    display_move_list () {
      var list = this.page.manager().get_moves()
      var moves = []

      list.split(';').forEach((str) => {
        if (str !== '') {
          var move = this.page.manager().build_move()

          move.decode(str)
          moves.push(move.to_string())
        }
      })
      this.moves = moves
      this.move_list_dialog = true
    },
    launch_game () {
      const GameTypeTable = {
        'gui': OpenXum.GameType.GUI,
        'online': OpenXum.GameType.ONLINE,
        'offline': OpenXum.GameType.OFFLINE,
        'ai': OpenXum.GameType.LOCAL_AI,
        'remote_ai': OpenXum.GameType.REMOTE_AI
      }
      const color = parseInt(this.$route.params.color)
      const mode = this.$route.params.mode
      const status = JSON.parse(window.localStorage.getItem('openXumUser'))
      const gameType = this.$route.params.gameType
      const type = GameTypeTable[this.$route.params.type]
      const opponentColor = OpenXum[gameType].Settings.opponent_color(color)
      const first = OpenXum[gameType].Settings.colors.first
      const ai = OpenXum[gameType].Settings.ai.mcts
      const gameId = this.$route.params.idGame
      const opponentId = this.$route.params.idOpponent

      if (OpenXum[gameType]) {
        if (type === OpenXum.GameType.OFFLINE) {
          (new Promise((resolve, reject) => {
            const url = APIENDPOINT + '/api/game/offline/' + gameId + '/moves'
            const config = {'headers': getHeader()}

            axios.get(url, config)
              .then((res) => {
                resolve(res)
              })
              .catch((err) => {
                reject(err)
              })
          })).then((res) => {
            let moves = res.data

            if (opponentId === status.data.id) {
              this.page = new OpenXum.GamePage(OpenXum, OpenXum[gameType], gameType.toLowerCase(), first,
                opponentColor, color, mode, gameId, type, opponentId, status.data.id,
                false, ai,
                (winnerColor) => {
                  this.winner = winnerColor
                  this.winner_dialog = true
                },
                () => {
                  this.save(this.page.game_id(), this.page.manager().get_moves(), this.page.manager().engine().current_color())
                },
                moves)
            } else {
              this.page = new OpenXum.GamePage(OpenXum, OpenXum[gameType], gameType.toLowerCase(), first,
                color, opponentColor, mode, gameId, type, status.data.id, opponentId, false, ai,
                (winnerColor) => {
                  this.winner = winnerColor
                  this.winner_dialog = true
                },
                () => {
                  this.save(this.page.game_id(), this.page.manager().get_moves(), this.page.manager().engine().current_color())
                },
                moves)
            }
          }).catch((err) => {
            console.log(err)
          })
        } else {
          this.page = new OpenXum.GamePage(OpenXum, OpenXum[gameType], gameType.toLowerCase(), first,
            color, opponentColor, mode, gameId, type, status.data.id, opponentId, false, ai,
            (winnerColor) => {
              this.winner = winnerColor
              this.winner_dialog = true
            })
        }
      } else {
        this.$router.push({name: 'Games'})
      }
    },
    replay () {
      if (this.page !== null) {
        let moves = this.page.manager().get_moves()

        this.page.reset()
        this.page.manager().replay(moves, true)
      }
    },
    save (gameId, moves, currentColor) {
      (new Promise((resolve, reject) => {
        const url = APIENDPOINT + '/api/game/offline/' + gameId + '/update'
        const config = {'headers': getHeader()}

        axios.put(url, {moves: moves, current_color: currentColor}, config)
          .then((res) => {
            resolve(res)
          })
          .catch((err) => {
            reject(err)
          })
      })).then((res) => {
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  canvas {
    width: 600px;
    height: 600px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
</style>
