<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Hnefatafl</div>
            </div>
          </v-card-title>
          <v-card-text>
            <ol>
              <li>Two players may participate. One player plays the king's side, with a king and his defenders, and the
                other player plays the attackers. There are twelve defenders and twenty-four attackers.
              </li>

              <li>The game is played on a board with 11x11 squares and with initial set-up as shown:</li>
              <img width="200px" :src="diagram1"/>
              <p>Initial set-up.</p>

              <li>The central square is called the throne. The throne is always hostile to the attackers (Black), but
                only hostile to the defenders (White) when it is empty. The king is able to re-enter the throne, and all
                pieces may pass the throne when it is empty.
              </li>

              <li>Besides the throne, the four squares in the corners are also restricted and may only be occupied by
                the king. The four corner squares are hostile to all pieces, except the King, which means that they can
                replace one of the two pieces taking part in a capture.
              </li>
              <img width="200px" :src="diagram2"/>
              <p>Five restricted squares.</p>

              <li>To win the game: The objective is for the king to enter any of the four corner squares. In that case,
                the king has escaped and his side wins. The attackers win if they can capture the king before he
                escapes.
              </li>
              <img width="200px" :src="diagram3"/>
              <p>The king's side wins.</p>

              <li>The attackers' side moves first, and the game then proceeds by alternate moves. All pieces move any
                number of vacant squares along a row or a column, like a rook in chess.
              </li>
              <img width="200px" :src="diagram4"/>
              <p>Moving a piece.</p>

              <li>Capture: All pieces except the king are captured if they are sandwiched between two enemy pieces along
                a column or a row. The two enemy pieces should either be on the square above and below or on the square
                to the left and to the right of the attacked piece. A piece is only captured if the trap is closed by a
                move of the opponent, and it is, therefore, allowed to move in between two enemy pieces. A captured
                piece is removed from the board and is no longer active in the game. The king may take part in captures.
              </li>
              <br>
              <p>You can also capture an enemy warrior by sandwiching him between one of your pieces and a refuge square
                or the throne square. However, when the King is occupying the throne square, a single white warrior next
                to the throne square cannot be captured in this way.</p>
              <img width="150px" :src="diagram5"/>
              <img width="150px" :src="diagram6"/>
              <img width="150px" :src="diagram7"/>
              <img width="150px" :src="diagram8"/>
              <img width="150px" :src="diagram9"/>
              <p>Capture of pieces.</p>

              <img width="150px" :src="diagram10"/>
              <img width="150px" :src="diagram11"/>
              <p>The piece is not captured.</p>

              <li>The king is captured when the attackers surround him in all four cardinal points, or on three sides if
                he occupies the square next to the throne; the attackers must then occupy all surrounding squares in the
                four points of the compass except the throne.
              </li>
              <br>
              <p>The king cannot be captured on the edge, UNLESS he is the only white piece remaining on the board and
                is completely surrounded by black.</p>
              <img width="150px" :src="diagram12"/>
              <img width="150px" :src="diagram13"/>
              <img width="150px" :src="diagram14"/>

              <p>The king is captured.</p>
              <img width="150px" :src="diagram15"/>
              <img width="150px" :src="diagram16"/>

              <p>The king is not captured.</p>

              <li>If the attackers surround the king and ALL remaining defenders, then they win, as they have prevented
                the king from escaping.
              </li>

              <img width="150px" :src="diagram17"/>
              <p>The attackers win by encircling all defenders.</p>

              <li>If a player cannot move, he loses the game.</li>
              <img width="150px" :src="diagram18"/>

              <p>The defenders cannot move and lose.</p>

              <li>Draws: The game is declared a draw if the same move or sequence of moves is repeated three times.</li>
            </ol>
            <br>
            <p>The Fetlar rules were outlined 2007 by the Fetlar Hnefatafl Panel, UK.<br>
              The text above is modified from Sten Helmfrid's text on the Skalk variant.</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      diagram1: require('../../../assets/hnefatafl/hnefatafl-diagram1.png'),
      diagram2: require('../../../assets/hnefatafl/hnefatafl-diagram2.png'),
      diagram3: require('../../../assets/hnefatafl/hnefatafl-diagram3.png'),
      diagram4: require('../../../assets/hnefatafl/hnefatafl-diagram4.png'),
      diagram5: require('../../../assets/hnefatafl/hnefatafl-diagram5.png'),
      diagram6: require('../../../assets/hnefatafl/hnefatafl-diagram6.png'),
      diagram7: require('../../../assets/hnefatafl/hnefatafl-diagram7.png'),
      diagram8: require('../../../assets/hnefatafl/hnefatafl-diagram8.png'),
      diagram9: require('../../../assets/hnefatafl/hnefatafl-diagram9.png'),
      diagram10: require('../../../assets/hnefatafl/hnefatafl-diagram10.png'),
      diagram11: require('../../../assets/hnefatafl/hnefatafl-diagram11.png'),
      diagram12: require('../../../assets/hnefatafl/hnefatafl-diagram12.png'),
      diagram13: require('../../../assets/hnefatafl/hnefatafl-diagram13.png'),
      diagram14: require('../../../assets/hnefatafl/hnefatafl-diagram14.png'),
      diagram15: require('../../../assets/hnefatafl/hnefatafl-diagram15.png'),
      diagram16: require('../../../assets/hnefatafl/hnefatafl-diagram16.png'),
      diagram17: require('../../../assets/hnefatafl/hnefatafl-diagram17.png'),
      diagram18: require('../../../assets/hnefatafl/hnefatafl-diagram18.png')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
