<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Ordo</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>Rule book © 2009 Néstor Romeral Andrés.<br>
              Rules © 2009 Dieter Stein.</p>
            <h4>Material</h4>
            <p>Ordo is played on a 10 x 8 board with 2 x 20 pieces in two colors.</p>
            <img width="400px" :src="diagram1"/>
            <h4>Terminology</h4>
            <p><b>Group:</b> Orthogonally or diagonally connected group of all pieces of a player.</p>
            <img width="400px" :src="diagram2"/>
            <p>Pieces of the same color are connected forming a group.</p>
            <p><b>Home row:</b> Nearest row on the board seen from a player's perspective.</p>
            <img width="400px" :src="diagram3"/>
            <h4>Setup</h4>
            <p>Pieces are setup as shown in the following figure:</p>
            <img width="400px" :src="diagram4"/>
            <h4>Objective</h4>
            <p>Players move their pieces trying to reach the opponent's home row. </p>
            <h4>Game play</h4>
            <p>Players choose their colors and take a seat on their side of the board. </p>
            <p>White starts, then players take turns making a move. They may not pass.</p>
            <p><b>Connection:</b> Throughout the game, after a player's move, all pieces of that player must be
              connected in one sole group.</p>
            <p><b>Moves and Captures:</b> There are two possible ways to move the pieces: single piece
              moves and ordo moves.</p>
            <ul>
              <li><b>Single Piece Move:</b> A single piece can
                move forward or sideways, orthogonally
                or diagonally in a straight line any number
                of <b>empty</b> squares. It may end the move
                in an empty square or a square occupied
                by an opponent's piece, which is then
                captured and removed from the board.
                Backward moves are allowed <b>only</b> in
                reconnection moves.
              </li>
              <img width="400px" :src="diagram5"/>
              <p>The marked piece has 5 possible moves. Moving one space
                ahead and further moves to the left are not allowed as they
                would split the group.</p>
              <li><b>Ordo Moves:</b> The ordo move: 2 or more
                pieces, which are connected in a straight
                horizontal or vertical line, can move side
                by side any number of empty squares.
                They may only move orthogonally (not
                diagonally) forward (if they are horizontally aligned) or sideways (if they
                are vertically aligned), the same number
                of squares. They may not capture.
              </li>
              <img width="400px" :src="diagram6"/>
              <p>All possible ordo moves for White in this position </p>
            </ul>
            <p><b>Disconnection:</b> If a player's group is
              disconnected because of a capture move by the
              opponent, that player must move such that the
              group is connected again. If no such move is
              possible, the game is lost immediately.
              Normally, pieces move forward or sideways. In
              case of a split group (and only then), pieces
              may also move backwards. This is also true for
              ordo moves.</p>
            <h4>End of the game</h4>
            <p>The main goal of the game is to place a
              piece on the opponent's home row.
              Also, players lose a game l if they cannot
              reconnect their group, after a split capture by
              the opponent or if they have no pieces left on
              the board.</p>
            <p>Please note: If a player has only one piece
              left, said piece is still considered a group!</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      diagram1: require('../../../assets/ordo/ordo-diagram1.gif'),
      diagram2: require('../../../assets/ordo/ordo-diagram2.gif'),
      diagram3: require('../../../assets/ordo/ordo-diagram3.gif'),
      diagram4: require('../../../assets/ordo/ordo-diagram4.gif'),
      diagram5: require('../../../assets/ordo/ordo-diagram5.gif'),
      diagram6: require('../../../assets/ordo/ordo-diagram6.gif')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
