<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>{{ $t('ADMIN.ADMIN') }}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-data-table
                  :headers="headers"
                  :items="users"
                  item-key="username"
                  hide-actions
                  class="elevation-1"
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.username }}</td>
                  <td class="text-xs-right">{{ props.item.email }}</td>
                  <td class="justify-center">
                    <v-checkbox v-model="props.item.isActive" @click="activeItem(props.item)"></v-checkbox>
                  </td>
                  <td class="text-xs-right">{{ moment(props.item.timeCreated).format('dddd, MMMM Do YYYY, h:mm:ss a')
                    }}
                  </td>
                  <td class="justify-center">
                    <v-icon
                        small
                        @click="deleteItem(props.item)"
                    >
                      delete
                    </v-icon>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import { APIENDPOINT, getHeader } from '../app.config'
import axios from 'axios'
import moment from 'moment'

export default {
  name: 'admin',
  data () {
    return {
      headers: [
        {
          text: 'Username',
          align: 'left',
          sortable: false,
          value: 'username'
        },
        {
          text: 'Email',
          sortable: false,
          value: 'email'
        },
        {
          text: 'Active',
          sortable: false,
          value: 'isActive'
        },
        {
          text: 'Creation date',
          sortable: false,
          value: 'timeCreated'
        },
        {text: 'Actions', value: 'name', sortable: false}
      ],
      users: []
    }
  },
  methods: {
    moment: function (date) {
      return moment(date)
    },
    deleteItem (item) {
      const index = this.users.indexOf(item)

      if (confirm('Are you sure you want to delete this user?')) {
        (new Promise((resolve, reject) => {
          const url = APIENDPOINT + '/api/user/' + item._id + '/delete'
          const config = {'headers': getHeader()}

          axios.delete(url, config)
            .then((res) => {
              resolve(res)
            })
            .catch((err) => {
              reject(err)
            })
        })).then((res) => {
          if (res.status === 200) {
            this.users.splice(index, 1)
          }
        }).catch((err) => {
          console.log(err)
        })
      }
    },
    activeItem (item) {
      if (item.isActive) {
        (new Promise((resolve, reject) => {
          const url = APIENDPOINT + '/api/user/' + item._id + '/inactive'
          const config = {'headers': getHeader()}

          axios.put(url, {}, config)
            .then((res) => {
              resolve(res)
            })
            .catch((err) => {
              reject(err)
            })
        })).then((res) => {
          if (res.status === 200) {
            item.isActive = false
          }
        }).catch((err) => {
          console.log(err)
        })
      } else {
        (new Promise((resolve, reject) => {
          const url = APIENDPOINT + '/api/user/' + item._id + '/active'
          const config = {'headers': getHeader()}

          axios.put(url, {}, config)
            .then((res) => {
              resolve(res)
            })
            .catch((err) => {
              reject(err)
            })
        })).then((res) => {
          if (res.status === 200) {
            item.isActive = true
          }
        }).catch((err) => {
          console.log(err)
        })
      }
    }
  },
  mounted () {
    (new Promise((resolve, reject) => {
      const url = APIENDPOINT + '/api/users'
      const config = {'headers': getHeader()}

      axios.get(url, config)
        .then((res) => {
          resolve(res)
        })
        .catch((err) => {
          reject(err)
        })
    })).then((res) => {
      if (res.status === 200) {
        this.users = res.data
      }
    }).catch((err) => {
      console.log(err)
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #35495E;
  }
</style>
