<template>
  <v-container fluid grid-list-md>
    <v-layout column align-center justify-center>
      <v-flex xs12 sm10 md8>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>{{ $t('GAME.MYGAMES') }}</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-data-table
                :headers="headers"
                :items="games"
                item-key="name"
                hide-actions
                class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.game_type_name }}</td>
                <td class="text-xs-right" v-if="user.id === props.item.owner_id">{{ props.item.color_name }}</td>
                <td class="text-xs-right" v-if="user.id === props.item.opponent_id">{{ props.item.opponent_color_name
                  }}
                </td>
                <td class="text-xs-right">{{ props.item.status }}</td>
                <td class="text-xs-right" v-if="user.id === props.item.owner_id">{{ props.item.opponent }}</td>
                <td class="text-xs-right" v-if="user.id === props.item.opponent_id">{{ props.item.owner_name }}</td>
                <td class="text-xs-right">{{ moment(props.item.timeCreated).format('MMMM Do YYYY')
                  }}
                </td>
                <td class="justify-center">
                  <v-icon v-if="props.item.status === 'run' && props.item.myturn"
                          small
                          @click="playGame(props.item)"
                  >
                    play_circle_outline
                  </v-icon>
                  <v-icon v-if="props.item.status === 'run' && !props.item.myturn"
                          small
                          @click="playGame(props.item)"
                  >
                    visibility
                  </v-icon>
                  <v-icon v-if="props.item.status === 'run'"
                          small
                          @click="cancelGame(props.item)"
                  >
                    highlight_off
                  </v-icon>
                  <v-icon v-if="props.item.status === 'wait'"
                          small
                          @click="deleteGame(props.item)"
                  >
                    delete
                  </v-icon>
                </td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm10 md8>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>{{ $t('GAME.WAITINGGAMES') }}</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-data-table
                :headers="waiting_headers"
                :items="waiting_games"
                item-key="name"
                hide-actions
                class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.type }}</td>
                <td class="text-xs-right">{{ props.item.userCreated.name }}</td>
                <td class="text-xs-right">{{ moment(props.item.timeCreated).format('MMMM Do YYYY')
                  }}
                </td>
                <td class="justify-center">
                  <v-icon
                      small
                      @click="joinGame(props.item)"
                  >
                    link
                  </v-icon>
                </td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import OpenXum from 'openxum-browser/index.mjs'
import { APIENDPOINT, getHeader } from '../app.config'
import axios from 'axios'
import moment from 'moment'

export default {
  data () {
    return {
      headers: [
        {
          text: 'Name',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Type',
          sortable: false,
          value: 'type'
        },
        {
          text: 'Color',
          sortable: false,
          value: 'color'
        },
        {
          text: 'Status',
          sortable: false,
          value: 'status'
        },
        {
          text: 'Opponent',
          sortable: false,
          value: 'opponent'
        },
        {
          text: 'Creation date',
          sortable: false,
          value: 'timeCreated'
        },
        {text: 'Actions', value: 'name', sortable: false}
      ],
      games: [],
      waiting_headers: [
        {
          text: 'Name',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Type',
          sortable: false,
          value: 'type'
        },
        {
          text: 'Owner',
          sortable: false,
          value: 'owner'
        },
        {
          text: 'Creation date',
          sortable: false,
          value: 'timeCreated'
        },
        {text: 'Actions', value: 'name', sortable: false}
      ],
      waiting_games: [],
      user: null
    }
  },
  methods: {
    moment: function (date) {
      return moment(date)
    },
    get_color_name (gameType, color) {
      let found = false
      let index = 0
      const colors = OpenXum[gameType].Settings.colors.list

      while (!found && index < colors.length) {
        found = colors[index].key === color
        if (!found) {
          ++index
        }
      }
      if (found) {
        return colors[index].value
      } else {
        return '-'
      }
    },
    deleteGame (item) {
      const index = this.games.indexOf(item)

      if (confirm('Are you sure you want to delete this game?')) {
        (new Promise((resolve, reject) => {
          const url = APIENDPOINT + '/api/game/' + item.game._id + '/delete'
          const config = {'headers': getHeader()}

          axios.delete(url, config)
            .then((res) => {
              resolve(res)
            })
            .catch((err) => {
              reject(err)
            })
        })).then((res) => {
          if (res.status === 200) {
            this.games.splice(index, 1)
          }
        }).catch((err) => {
          console.log(err)
        })
      }
    },
    joinGame (item) {
      // let app = this;

      (new Promise((resolve, reject) => {
        const status = JSON.parse(window.localStorage.getItem('openXumUser'))
        const url = APIENDPOINT + '/api/game/offline/' + status.data.id + '/' + item._id + '/join'
        const config = {'headers': getHeader()}

        axios.put(url, {}, config)
          .then((res) => {
            resolve(res)
          })
          .catch((err) => {
            reject(err)
          })
      })).then((res) => {
        if (res.status === 200) {
          this.load_data()
        }
      }).catch((err) => {
        console.log(err)
      })
    },
    playGame (item) {
      let gameTypeName = item.game_type_name.charAt(0).toUpperCase() + item.game_type_name.slice(1)

      this.$router.push('/games/play/' + gameTypeName + '/' + item.type + '/' + item.color + '/' + item.mode + '/' + item.id + '/' + item.opponent_id)
    },
    cancelGame (item) {
      console.log(item)
    },
    load_data () {
      let app = this

      this.user = JSON.parse(window.localStorage.getItem('openXumUser')).data;
      (new Promise(function (resolve, reject) {
        const status = JSON.parse(window.localStorage.getItem('openXumUser'))
        const url = APIENDPOINT + '/api/game/offline/' + status.data.id
        const config = {'headers': getHeader()}

        axios.get(url, config)
          .then(function (res) {
            resolve(res)
          })
          .catch(function (err) {
            reject(err)
          })
      })).then(function (res) {
        if (res.status === 200) {
          app.games = []
          for (let index = 0; index < res.data.length; ++index) {
            const gameTypeName = res.data[index].game_type_name.charAt(0).toUpperCase() + res.data[index].game_type_name.slice(1)
            const color = parseInt(res.data[index].game.color)
            const opponentColor = OpenXum[gameTypeName].Settings.opponent_color(color)
            const mycolor = app.user.id === res.data[index].game.userCreated.id ? color : opponentColor
            const currentColor = parseInt(res.data[index].game.currentColor)

            app.games.push({
              id: res.data[index].game._id,
              name: res.data[index].game.name,
              game_type_name: gameTypeName,
              type: res.data[index].game.type,
              mode: res.data[index].game.mode,
              owner_id: res.data[index].game.userCreated.id,
              owner_name: res.data[index].game.userCreated.name,
              color: color,
              color_name: app.get_color_name(gameTypeName, color),
              opponent_id: res.data[index].game.opponent.id,
              opponent_color_name: app.get_color_name(gameTypeName, opponentColor),
              status: res.data[index].game.status,
              opponent: res.data[index].opponent,
              timeCreated: res.data[index].game.timeCreated,
              myturn: currentColor === mycolor
            })
          }
        }
      }).catch(function (err) {
        console.log(err)
      });

      (new Promise(function (resolve, reject) {
        const status = JSON.parse(window.localStorage.getItem('openXumUser'))
        const url = APIENDPOINT + '/api/game/offline/' + status.data.id + '/waiting'
        const config = {'headers': getHeader()}

        axios.get(url, config)
          .then(function (res) {
            resolve(res)
          })
          .catch(function (err) {
            reject(err)
          })
      })).then(function (res) {
        if (res.status === 200) {
          app.waiting_games = res.data
        }
      }).catch(function (err) {
        console.log(err)
      })
    }
  },
  mounted () {
    this.load_data()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style/>
