<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Neutreeko</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>© 2010 - Jan Kristian Haugland</p>
            <h4>Game content</h4>
            <ol>
              <li>1 game board</li>
              <li>6 pieces in two different colors</li>
            </ol>
            <h4>Aim</h4>
            <p>The aim of the game is to get three same color pieces in a row, orthogonally or diagonally. The pieces
              must be connected.</p>
            <h4>Game rules</h4>
            <p>Each player has three game pieces in his/her own color. At the beginning of the game, pieces are placed
              on game board as seen in
              the illustration. White player starts first.</p>
            <img width="300px" :src="diagram1"/>
            <br><br>
            <p><b>Moves:</b> A piece slides orthogonally or diagonally until stopped by another piece or by the border
              of the board</p>
            <p><b>Repetitions:</b> A match is declared a draw if the same position occurs three times.</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      diagram1: require('../../../assets/neutreeko/neutreeko-diagram1.jpg')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
