<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Manalath</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>© 1998-2018 Dieter Stein</p>
            <h4>Material</h4>
            <ol>
              <li>Hexagonal game board with 61 spaces</li>
              <li>30 white and 30 black pieces</li>
            </ol>
            <img width="400px" :src="diagram1"/>
            <br>
            Figure 1·The Manalath board
            <br><br>
            <p>Pieces of the same color placed on adjacent spaces are called a “group”.</p>
            <img width="400px" :src="diagram2"/>
            <br>
            Figure 2·A white group and two black groups.
            <br><br>
            <p>A group of 4 pieces is called a “quart”. A group of 5 pieces is called a “quint”.</p>

            <h4>Objective</h4>
            <p>Players win if they finish their turn with a friendly quint, but lose if they finish their turn with a
              friendly quart on the board.</p>

            <h4>Play</h4>
            <p>The board is initially empty. White starts.</p>

            <p>Players take turns. On their turn, players choose a piece of any color (i.e. a friendly or opponent
              piece)
              and put it on an empty space.</p>

            <p><b>Notation example:</b> a1w specifies: a white piece w is placed at a1. Similarly, a1b would specify a
              black piece at the same place.</p>

            <p>A piece may not be placed such that a group of more than 5 pieces is created.</p>

            <p>If, at the end of a player’s turn, ...</p>
            <ol>
              <li>there is a quint (a group of 5) of their color, they win</li>
              <li>there is a quart (a group of 4) of their color, they lose</li>
            </ol>
            <p>The winning and losing conditions for a player are checked after their move, only on their own turn.</p>

            <p>An end condition (win or loss) is effective when it occurred first and cannot be averted.</p>

            <img width="400px" :src="diagram3"/>
            <br>
            Figure 3·White to move. Black has just completed a white quart playing i1w, which White can’t defend. Even
            if
            White is going to play on one of the three marked spaces e2w, d2w, or d3w building a quint, the game is lost
            for White as the losing condition was created first and is still active after White’s move.
            <br><br>
            <img width="400px" :src="diagram4"/>
            <br>
            Figure 4·White has played at e8w. Black can’t play at c7, d7, or e7; neither a white nor a black piece. c7w,
            d7w, and e7w are all quints for White (and White can play somewhere else in the next turn). c7b does not
            obstruct White to build a quint in the next turn, d7b is an immediate loss because of the black quart, and
            e7b
            is simply illegal.
            <br><br>
            <p>Only if a player cannot make a legal move (which is rare) they must pass. However – even then – a
              possible end
              condition may become effective.</p>

            <p>If both players must pass, the game ends in a draw.</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      diagram1: require('../../../assets/manalath/manalath-diagram1.gif'),
      diagram2: require('../../../assets/manalath/manalath-diagram2.gif'),
      diagram3: require('../../../assets/manalath/manalath-diagram3.gif'),
      diagram4: require('../../../assets/manalath/manalath-diagram4.gif')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
