<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Dvonn by Kris Burm</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>DVONN ® & © Don & Co NV. Content © Kris Burm. All rights</p>
            <br>
            <p>
              Build stacks, try to control your opponent's pieces and, above all, remain linked to the red DVONN pieces
              - that's what you have to keep in mind. If you do not? Well, you may suddenly see quite a few of your
              pieces disappear from the board. Be aware of everything your opponent does, but don't forget to watch your
              step, too. If you do not? Well, you may end up being forced to make moves you really don't want to make
              and, then, strange things can happen ...
            </p>
            <h4>Aim</h4>
            Control as many pieces as possible by stacking them on top of each other and try to keep your stacks linked
            to the red DVONN pieces. When no more moves can be made, the player who controls the most pieces wins the
            game.

            <h4>Preparation</h4>
            1. Draw lots to determine who begins. The starting player takes 2 DVONN pieces and the 23 white pieces; the
            other player takes the remaining DVONN piece and the 23 black pieces.
            <br>
            2. Place the board horizontally between the players (i.e. so that each player has 9 spaces on his side).

            <h4>The first phase: placing pieces</h4>
            1. The game starts with an empty board. The players take turns placing their pieces on the board, one at a
            time. They must start with the DVONN pieces and then continue with their own color:
            <br>
            <ul>
              <li> White: first DVONN piece</li>
              <li> Black: second DVONN piece</li>
              <li> White: third DVONN piece</li>
              <li> Black: first black piece</li>
              <li> White: first white piece</li>
              <li> Black: second black piece</li>
              <li> And so on ...</li>
            </ul>
            2. A piece may be put on any vacant space, without restriction.
            <br>
            3. When all the pieces are placed on the board, all spaces will be occupied. This is the end of the first
            phase.

            <h4> The second phase: stacking pieces</h4>
            1. IMPORTANT: the player who started the first phase also starts the second phase! In other words: after
            White has put his last piece on the board, he must immediately play again. Then the players alternate turns.
            (As Black is the first to put a piece of his own color on the board in the 1st phase, so now it is White who
            may first move one of his pieces.)
            <br>
            2. Each turn a player must move one piece or one stack. He may only move a piece or a stack of his own
            color. When two or more pieces are stacked on top of each other, the color of the topmost piece determines
            who owns the stack, and thus which player may move it.
            <br>
            3. A single piece may move one space in any direction, but only to an occupied space (i.e. on top of another
            piece or stack of any color).
            <br>
            4. A stack must always be moved as a whole and moves as many spaces as there are pieces in the stack. Thus,
            a stack of 3 pieces (regardless of their color) must be moved exactly 3 spaces. Just like a single piece, a
            stack may be moved in any direction, but always in a straight line.
            <br>
            5. A move may never end in an empty space, but it is allowed to move across one or more empty spaces. When
            making a move, each space must be counted, no matter whether it is empty or occupied (see diagram below).
            <br>
            <img :src="dvonnDiagram1"/>
            <br>
            i The indicated stack may be moved 3 spaces in the direction of the arrows.
            <br>
            6. Important: a piece or stack that is surrounded on all 6 sides may not be moved. So, at the beginning of
            the game only the pieces at the edge of the board may move. The pieces that are not positioned at the edge
            remain blocked for as long as they remain completely surrounded (see diagram below).
            <br>
            <img :src="dvonnDiagram2"/>
            <br>
            i The pieces and stacks marked with an 'x' are surrounded on all 6 sides and may not be moved.
            <br>
            7. A single DVONN piece may not be moved, but a piece or stack may move on top of it. When a DVONN pieces is
            part of a stack, it is perfectly legal to move the stack containing the DVONN piece - but, as explained
            above, only by the player who controls the stack.
            <br>
            8. You may not pass a turn, unless you cannot make any more moves.

            <h4>Losing pieces</h4>
            1. Pieces and stacks must somehow remain in contact with at least one DVONN piece to remain in play. 'In
            contact' means that there must always be a link (directly or through a chain of other pieces) with at least
            one DVONN piece. Each and every piece and/or stack that is not linked to any of the DVONN pieces, must be
            removed from the board at once.
            <br>
            Be careful: it may happen that a great number of pieces are suddenly removed as a result of one single move
            (see diagram below).
            <br>
            <img :src="dvonnDiagram3"/>
            <br>
            i If White moves the indicated piece, the pieces on the left will no longer be in contact with a DVONN
            piece. They must all be removed from the board at once.
            <br>
            2. All removed pieces go out of the game. It doesn't matter who makes the move through which the pieces
            and/or stacks become isolated. Watch out for this, especially in the endgame. Since you may not pass, you
            may be forced to make a move that isolates one or more of your own stacks (see Diagram below).
            <br>
            3. All 3 DVONN pieces remain in play until the end of the game, even if one of them becomes isolated, as it
            will always remain in contact with itself.
            <br>
            <img :src="dvonnDiagram4"/>
            <br>
            i The endgame. It is White's turn. White has only one stack left to play with. Since he must make a move he
            has no other choice than to play it, as a result of which the stacks marked with an 'x' are out of the game
            ...

            <h4>The end</h4>
            1. The players must play for as long as they can do so. If one player can't make a move any more, the other
            must continue to play until he, too, has made his very last possible move. In the rare event that a player
            who must pass gets the opportunity to make a move again, he must do so. This can happen when one or more of
            his pieces are blocked (i.e. completely surrounded).
            <br>
            2. The game ends when the last move is made. When this stage is reached, each player puts all of the stacks
            he controls on top of each other. The player with the highest stack wins the game, regardless of the color
            of the pieces in his stack.
            <br>
            3. If both players end up with an equal stack, then the game ends in a tie.
            <br>
            <br>
            i Note: if the stacks are equally high or if the difference is only one piece, then do count the pieces to
            be sure. As a result of the manufacturing process of the pieces, their thickness may differ slightly.
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      dvonnDiagram1: require('../../../assets/dvonn/dvonn-diagram1.gif'),
      dvonnDiagram2: require('../../../assets/dvonn/dvonn-diagram2.gif'),
      dvonnDiagram3: require('../../../assets/dvonn/dvonn-diagram3.gif'),
      dvonnDiagram4: require('../../../assets/dvonn/dvonn-diagram4.gif')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
