<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Mixtour</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>© 1998-2018 Dieter Stein</p>
            <h4>Material</h4>
            <ol>
              <li>Square board with 5 × 5 spaces</li>
              <li>2 × 20 of stackable pieces (white and red)</li>
            </ol>
            <br>
            <img width="300px" :src="diagram1"/>
            <br>
            Figure 1·The Mixtour board.
            <br><br>
            <h4>Objective</h4>
            <p>Players try to build stacks, at least five pieces high, with a piece of their own color on top.</p>

            <h4>Preparation</h4>
            <p>The board is initially empty.</p>

            <p>Players decide on the colors they play. White starts, then players take turns.</p>

            <h4>Play</h4>
            <p><b>Note: In the following, a single piece is also be referred to as a “stack.”</b></p>

            <p>In each turn players have two options, one of which they must choose:</p>
            <ol>
              <li>Enter a piece</li>
              <li>Move a stack</li>
            </ol>

            <h4>Enter a piece</h4>
            <p>A player places a new piece of his own color on any empty space on the board.</p>

            <h4>Move a stack</h4>
            <p>A player chooses a stack and moves one or more pieces from there.</p>
            <ol>
              <li>Pieces move orthogonally or diagonally in straight lines.</li>
              <li>Pieces are always taken from the top of a stack.</li>
              <li>Stacks may be split at any level. Remaining pieces stay behind.</li>
              <li>Players may move pieces of any(!) color. It is possible to move single opponent piece or a stack with
                an opponent piece on top.
              </li>
              <li>It is not allowed to move such that the last move of the opponent is effectively taken back.</li>
              <li>Please note that such a move is often not available.</li>
              <li>Stacks may not cross occupied spaces.</li>
              <li>A move must end on another stack, moved pieces are placed on top of the target stack.</li>
              <li>Stacks may be any height.</li>
            </ol>
            <p>And, most important:</p>
            <ol>
              <li>The height of the target stack determines the exact distance from where it can be reached.</li>
            </ol>
            <p><b>Note:</b></p>
            <ol>
              <li>The top piece does not determine ownership of a stack when it comes to move options.</li>
              <li>It is not the height of the moving stack that determines the length of a move. It is the height of the
                target stack that defines it.
              </li>
            </ol>
            <h4>Examples</h4>
            <img width="300px" :src="diagram2"/>
            <br>
            Figure 2·The stack at e4 may move three spaces onto the stack at b4 (because it is three pieces high). The
            stack at e1 cannot reach b4 because it is blocked by c3. Please note that b4 may not jump on e4!
            <br><br>
            <img width="300px" :src="diagram3"/>
            <br>
            Figure 3·The white piece in the center (at c3) is within reach of all adjacent stacks because it is a stack
            of height one and each of the surrounding stacks is one step away.
            <br><br>

            <h4>Pass</h4>
            <p>If a player cannot enter a new piece they must move a stack. If no move is available, the player must
              pass. The game ends in a draw if both players pass in sequence.</p>

            <h4>End of the game</h4>
            <p>When a player builds a stack of height 5 (or higher), this stack is removed from the board, the pieces
              are put back to the reserve and the player who owned the top piece of said stack, scores 1 point.</p>

            <p>For a standard game only 1 point is needed to win, but players can agree upon any other number at the
              beginning of the game.</p>

            <p><b>Please note:</b> It is possible (although very rare) that players end up in an arrangement of single
              pieces in which one additional piece skips endlessly in a loop. If really none of the players is willing
              to break out of this situation, they should declare the game drawn. Please note, that in combinations of
              larger stacks this situation is not likely to occur, because scoring moves will be available.</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      diagram1: require('../../../assets/mixtour/mixtour-diagram1.gif'),
      diagram2: require('../../../assets/mixtour/mixtour-diagram2.gif'),
      diagram3: require('../../../assets/mixtour/mixtour-diagram3.gif')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
