<template>
  <v-container fluid>
    <v-layout>
      <v-flex xl4 lg6 md8 sm10 xs12 offset-xl4 offset-lg3 offset-md2 offset-sm1>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Rules - Tintas</div>
            </div>
          </v-card-title>
          <v-card-text>
            <p>© 1998-2018 Dieter Stein</p>
            <h4>Material</h4>
            <ol>
              <li>Game board with 49 hexagonal spaces</li>
              <li>49 pieces in seven colors (7 × 7)</li>
              <li>1 pawn</li>
            </ol>
            <h4>Objective</h4>
            <p>Get all seven pieces of one color or win by majority.</p>

            <h4>Preparation</h4>
            <p>Spread all pieces at random onto the game board.</p>

            <p>It doesn’t matter if two or more pieces of the same color wind up laying next to one another. Only if
              seven pieces of the same color are adjacent to another should you change the distribution.</p>

            <img width="400px" :src="diagram1"/>
            <br>
            Figure 1·A possible game set-up.
            <br><br>
            <p>The starting player is determined by lot. He gets the pawn. Players then alternate turns.</p>

            <h4>Play</h4>
            <p>The starting player places the pawn on a hexagonal space of his choice, takes the playing piece lying
              there and places it in front of him. This ends his game turn. Now it is the other player’s turn.</p>

            <img width="400px" :src="diagram2"/>
            <br>
            <p>Figure 2·A possible first move. Placing the pawn and taking a piece from the board.</p>
            <br><br>
            <p>From now on, the active player has to move the pawn in <b>any of the six possible directions</b> –
              straight and, if applicable, accross unoccupied spaces – until it gets to an <b>occupied space</b>. He
              collects the playing piece lying on that space and places the pawn there.</p>

            <p>If he can collect another <b>piece of the same color</b> by continuing to move the pawn, the active
              player may keep going until he is no longer <b>able or willing</b> to collect another same-colored piece.
            </p>

            <img width="400px" :src="diagram3"/>
            <br>
            <p>Figure 3.1·Three purple pieces are collected in one turn.</p>
            <br><br>

            <img width="400px" :src="diagram4"/>
            <br>
            <p>Figure 3.2·Moves can be stringed together in any direction.</p>
            <p>If a player has <b>no possibility of moving</b> because the pawn is not in line with any occupied space,
              he has to jump the pawn to any space and collect the piece lying there. As before, he leaves the pawn on
              this space, and his turn ends.</p>

            <img width="400px" :src="diagram5"/>
            <br>
            <p>Figure 4·If the pawn cannot reach an occupied space it has to jump.</p>
            <h4>End of the game</h4>
            <p>If one player has collected all seven pieces of one color, he wins <b>immediately</b>.</p>

            <p><b>Otherwise</b>, the player who has collected four or more pieces in at least four colors by the end of
              the game wins.</p>

            <p><b>Watch out:</b> As long as one player can still get seven pieces of one color to win, the game goes on!
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {
      diagram1: require('../../../assets/tintas/tintas-diagram1.png'),
      diagram2: require('../../../assets/tintas/tintas-diagram2.png'),
      diagram3: require('../../../assets/tintas/tintas-diagram3.png'),
      diagram4: require('../../../assets/tintas/tintas-diagram4.png'),
      diagram5: require('../../../assets/tintas/tintas-diagram5.png')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h4 {
    font-weight: bold;
    font-size: medium;
    margin: 0;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  li {
    display: list-item;
  }
</style>
